.header{ 
    position: fixed;
    padding: 20px 0;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
}
     
.header h1{
    font-family: valorant-font;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav_items{
    list-style: none;
}

.nav_items li{
    display: inline-block;
    padding: 0px 40px; 
}

.nav_items li a{
    color: white;
    font-size: 18px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

@font-face{
    font-family: valorant-font;
    src: url('../assets/valorant.ttf');
}