*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    zoom: 110%;
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    padding: 120px 0 0;
    background: linear-gradient(35deg,#FF4655,#111825 80%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 50px
}

.left_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 400px;
    margin-right: 5%;
    animation: 2s slide2;
}

.img{
    display: flex;
    align-items: center;
}

.left_column h2{
    color: white;
    font-size: 32px;
}

.left_column p{
    margin-top: 14px;
    font-size: 20px;
    color: white;
    opacity: 0.7;
}

.left_column button{
    margin-top: 16px;
    width: 170px;
    padding: 1rem;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.left_column button:hover{
    background: white;
    color: black;
}

.img img{
    width: 350px;
    animation: 2s slide;
}

.features{
    background: rgb(255, 237, 237);
    height: 100vh;
    padding: 2rem;
}

.features .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.title h1{
    font-size: 40px;
}

.title p{
    font-size: 20px;
}

.f_container, .f2_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.box a{
    text-decoration: none;
    color: black;
}

.box h3{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    letter-spacing: 2px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.box a h3:hover{
    background-color: rgba(0, 0, 0,0.8);
    color: white;
}

.box img{
    width: 270px;
}

.f_container .box:nth-child(2) img{
    margin-top: 40px;
}

footer{
    background: linear-gradient(35deg,#FF4655,#111825 80%);
    height: 150px;
    padding: 1.5rem 10rem 0rem 10rem;
}

.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(195, 195, 195);
}

.first_row{
    display: flex;
}

.first_row a{
    color: rgb(195, 195, 195);
    transition: .5s;
}

.first_row i{
    font-size: 36px;
    margin: 25px 3rem 0px 3rem;
    cursor: pointer;
}

.first_row a:nth-child(1):hover{
    color: white;
}

.first_row a:nth-child(3):hover{
    color: #1D9BF0;
}

.first_row a:nth-child(5):hover{
    color: #5460E6;
}

.first_row i:nth-child(2){
    transform: rotateY(180deg);
}

.first_row i:nth-child(4){
    transform: rotateY(180deg);
}

.last_row{
    margin-top: 40px;
}

.last_row h1{
    font-family: valorant-font;
}

/* WAVES TEMPLATE*/
.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 80px;
    z-index: 5;
    position: relative;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.wave1 use{
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

/* UTILS */
@-webkit-keyframes move-forever1{
    0%{
        transform:translate(85px,0%)
    }
    100%{
        transform:translate(-90px,0%)
    }
}
@keyframes move-forever1{
    0%{
        transform:translate(85px,0%)
    }
    100%{transform:translate(-90px,0%)
    }
}
@-webkit-keyframes move-forever2{
    0%{
        transform:translate(-90px,0%)
    }
    100%{
        transform:translate(85px,0%)
    }
}
@keyframes move-forever2{
    0%{
        transform:translate(-90px,0%)
    }
    100%{
        transform:translate(85px,0%)
    }
}

@-webkit-keyframes move-forever3{
    0%{
        transform:translate(-90px,0%)
    }
    100%{transform:translate(85px,0%)
    }
}

@keyframes slide{
    0% {
      opacity: 0;
      transform: translateY(-10%)
    }
    100% {
      opacity: 1;
      transform: translateY(0)
    }
}

@keyframes slide2{
    0% {
      opacity: 0;
      transform: translateY(10%)
    }
    100% {
      opacity: 1;
      transform: translateY(0)
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face{
    font-family: valorant-font;
    src: url('./assets/valorant.ttf');
}

/* RESPONSIVE */
@media (max-width: 912px){
    html{
        zoom: 100%;
    }
    .container{
        flex-direction: column-reverse;
        margin: 0px 10% 0px 10%;
    }

    .left_column{
        margin-right: 0px;
        height: 300px;
        align-items: center;
        width: auto;
    }

    .left_column h2{
        text-align: center;
    }

    .left_column p{
        text-align: center;
        font-size: 16px;
    }

    .img img{
        width: 300px;
    }

    .hero-waves{
        margin-top: 0px;
    }

    .features{
        height: auto;
    }

    .features .title{
        padding: 1rem;
        text-align: center;
    }

    .f_container, .f2_container{
        flex-direction: column;
    }

    footer{
        padding: 2rem;
    }

    .footer_container{
        align-items: unset;
    }

    .first_row{
        justify-content: space-between;
    }

    .first_row i{
       margin: 0;
    }

    .last_row{
        margin-top: 100px;
    }

    .last_row h1{
        text-align: center;
        font-size: 32px;
    }
}
