.header{ 
    position: fixed;
    padding: 20px 15px 20px 15px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
}
     
.header a{
    text-decoration: none;
    color: white;
    margin: 0;
}

.header h1{
    font-family: valorant-font;
    letter-spacing: 2px;
    cursor: pointer;
}

nav{
    margin: 0;
}

.nav_items{
    display: flex;
    list-style: none;
}

.nav_items a{
    position: relative;
    margin: 0px 40px; 
    color: rgba(255, 255, 255,0.8);
    font-size: 18px;
    text-decoration: none;
}

.nav_items a:hover{
    color: white;
}

.nav_items a:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: .5s;
}

.nav_items li a:hover:after{
    width: 100%;
}

.fa-solid{
    cursor: pointer;
}

.fa-solid.fa-bars{
    display: none;
    font-size: 32px;
    margin-right: 28px;
}

.fa-solid.fa-xmark{
    display: none;
    font-size: 22px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

/* SCROLL */
.header.scroll{
    background: rgba(19,24,34,0.9);
}

@font-face{
    font-family: valorant-font;
    src: url('../../assets/valorant.ttf');
}

/* RESPONSIVE */
@media (max-width: 952px){
    .header{
        justify-content: space-between;
    }

    .nav_items{
        display: none;
    }

    .fa-solid.fa-bars{
        display: inline;
    }

    .fa-solid.fa-xmark{
        display: block;
        position: absolute;
        right: 24px;
        border-radius: 50%;
        transition: .5s;
    }

    .fa-solid.fa-xmark:hover{
        background-color: black;
        color: gray;
    }

    nav{
        position: fixed;
        top: 0;
        right: -100%;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 9999;
        transition: .5s;
        border-radius: 0 0 0 50%;
        color: black;
    }

    .nav_items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
    }

    .nav_items a{
        margin: 2rem 0;
        color: black;
        font-weight: bold;
    }

    .nav_items a:hover{
        color: black;
    }

    .nav_items a:after{
        background-color: black;
    }

    .show{
        right: 0;
    }
}