*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    zoom: 100%;
}

.hero{
    width: 100%;
    padding: 120px 0 0;
    background: linear-gradient(35deg,#FF4655,#111825 80%);
}

/* UTILS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face{
    font-family: valorant-font;
    src: url('./assets/valorant.ttf');
}



