:root{
    --card_bg:linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(104,130,161,1) 100%);
    --card_bg2:linear-gradient(20deg, rgba(157,84,35,1) 0%, rgba(214,122,57,1) 100%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    zoom: 120%;
    scroll-behavior: smooth;
}

.header{
    z-index: 9999;
}

.title{
    text-align: center;
    color: white;
    letter-spacing: 0.5rem;
    font-size: 42px;
}

.disclaimer{
    opacity: 0;
    text-align: center;
    color: white;
    margin-top: -8px;
    transform: translateY(-16px);
    transition: .6s;
}

.disclaimer.active{
    opacity: 1;
    margin-top: 12px;
    margin-bottom: 12px;
    transform: translateY(0);
}

.title_wrapper{
    display: flex;
    align-items: center;
    margin: 0 3rem 0 3rem;
}

.title_wrapper div:nth-child(2){
    display: flex;
    justify-content: center;
    width: 100%;
}

.title_wrapper div:nth-child(2) i{
    color: white;
    align-items: center;
}

.f-icon{
    color: white;
    opacity: 0;
    transform: translateX(-18px);
    cursor: pointer;
    transition: .6s;
}

.f-icon.active{
    opacity: 1;
    transform: translateX(0px);
}

.search_icon{
    color: white;
    opacity: 0;
    transform: translateX(-18px);
    cursor: pointer;
    transition: .6s;
}

.search_icon.active{
    opacity: 1;
    transform: translateX(0px);
}

.search_wrapper{
    width: 50%;
    opacity: 0;
    transition: .6s;
    transform: translateY(24px);
}

.search_wrapper.active{
    margin: 1rem 0 1rem 0;
    transform: translateY(0px);
    opacity: 1;
}
 
.search_wrapper input{
    padding: 0.5rem;
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}
 
.search_wrapper input:focus{
    outline: none;
}

.filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    margin: 0 3rem 0 3rem;
}

.right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 20px;
    opacity: 0;
    transition: .6s;
    transform: translateY(24px);
}

.right.active{
    margin: 1rem 0 1rem 0;
    transform: translateY(0px);
    opacity: 1;
}

.filters select{
    padding: 0.5rem;
    border-radius: 8px;
}


.filters .filter_btn{
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: .8s;
    font-weight: bold;
}

.filter_btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.cards_container{
    margin: auto;
    padding-top: 1.5rem;
    position: relative;
    height: 1000vh;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
}

.card{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    width: 17rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    background: white;
    border-radius: 50px;
    cursor: default;
}

.card.hide{
    display: none !important;
}

.card .front{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    background: linear-gradient(20deg, rgba(116,116,116,1), rgba(0,0,0,1));
    z-index: 2;
    transition: .8s;
}

.card:hover .front{
    height: 100%;
    border-radius: 0 0 50px 50px;
}

.card .front div,
.card .back div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.card .front div:nth-child(1){
    height: 4rem;
    border-bottom: 2px solid;
}

.card .front h2{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1.2rem;
}

.card .front div:nth-child(2){
    margin-top: 18px;
    height: 50px;
}

.card .front div:nth-child(2) img{
    width: 200px;
}

.card .front div:nth-child(3){
    font-size: 22px;
    margin-top: 15px;
}

.card .front div:nth-child(3) img{
    width: 20px;
    margin-left: 5px;
}

.card .front div:nth-child(4){
    margin-top: 18px;
    font-size: 18px;
}

.card .front div:nth-child(4) p:hover{
    cursor: pointer;
    transition: .5s;
}
.card .front div:nth-child(4) p:hover{
    transform: scale(1.1);
    letter-spacing: 2px;
}

.card .back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card .back div{
    overflow: hidden;
    margin-top: 50px;
    width: 300px;
    padding: 1rem;
}

.card .back img{
    width: 100%;
}

.card.Frenzy .back img,
.card.Classic .back img,
.card.Sheriff .back img{
    width: 80%;
}

.card.Melee .back img{
    width: 70%;
}

.card.Frenzy .front div:nth-child(2) img{
    width: 80px;
}

.card.Classic .front div:nth-child(2) img,
.card.Sheriff .front div:nth-child(2) img{
    width: 100px;
}

.card.Stinger .front div:nth-child(2) img,
.card.Melee .front div:nth-child(2) img{
    width: 80px;
}

#loader{
    display: flex;
    justify-content: center;
}

.loader {
    margin-top: 32px;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
.others{
    background: rgb(255, 237, 237);
    padding: 2rem;
    height: 110vh;
}

.title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.others h1{
    font-size: 40px;
}

.others p{
    font-size: 20px;
}

.f_container, .f2_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 2rem 1rem;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.box h3{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    letter-spacing: 2px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 20px;
}

.box img{
    width: 270px;
    cursor: pointer;
    transition: .5s;
}

.box img:hover{
    transform: scale(1.2);
}

.f_container .box:nth-child(2) img{
    margin-top: 10px;
}

.skin-chromas{
    position: fixed;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border: 1px solid black;
    border-radius: 24px;
    background-color: white;
    z-index: 2;
    transition: 200ms ease-in-out;
}

.skin-chromas.active{
    transform: translate(-50%,-50%) scale(1);
}

.skin-chromas-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 1rem;
}

.skin-chromas-title{
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: bold;
    padding: 0 1rem 0 1rem;
}

.skin-chromas-header button{
    all: unset;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.skin-chromas-body{
    display: flex;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.skin-chromas-body .chroma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    overflow: hidden;
}

.skin-chromas-body .chroma-img{
    width: auto;
    height: auto;
}

.skin-chromas-body .chroma img{
    width: 100%;
    padding: 1rem 0 1rem 0;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

@keyframes rotation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
} 


/* RESPONSIVE */
@media (max-width: 912px){
    html{
        zoom: 110%;
    }

    .title_wrapper{
        margin: 0 1rem 0 1rem;
    }

    .filters{
        margin: 0 1rem 0 1rem;
    }

    .right{
        gap: 10px;
        width: 50%;
    }

    .right.active{
        margin: 0;
    }

    .search_wrapper input{
        font-size: 14px;
        width: 100%;
    }

    .cards_container{
        gap: 0;
        row-gap: 40px;
    }

    .others{
        height: auto;
    }

    .title2{
        padding: 1rem;
        text-align: center;
    }

    .f_container, .f2_container{
        flex-direction: column;
    }
}

@media (max-width: 556px){
    .skin-chromas{
        top: 55%;
        height: 70%;
        width: 70%;
        overflow-y: auto;
    }

    .skin-chromas-title{
        padding: 0;
    }
    
    .skin-chromas-body{
        padding: 0;
    }

    .skin-chromas-body,
    .skin-chromas-body .chroma{
        flex-direction: column;
    }
}



